* {
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1410.jpg?size=626&ext=jpg&ga=GA1.1.1576967535.1705111296&semt=ais");
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.sub-menu {
    display: none;
    top: 6%;
    position: absolute;
}


.main ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: transparent;
    margin-top: 15px;
    margin-left: -15px;
}

.main ul li:hover .sub-menu ul {
    display: block;
    margin: 10px;
}

.main ul li:hover .sub-menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    transition: .4 ease;
    text-align: left;
    border-radius: 0px;
}

.main ul li:hover .sub-menu ul li:last-child {
    border-bottom: none;
}

.btn {
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.socials {
    display: none;
    top: 6%;
    position: absolute;
}

/*hover of socials when on mainpage*/
.main ul li:hover .socials {
    display: block;
    background-color: transparent;
    margin-top: 15px;
    margin-left: -15px;
}

.main ul li:hover .socials ul {
    display: block;
    margin: 10px;
}

/* format the drop down menu to have lines and no background*/
.main ul li:hover .socials ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    transition: .4s ease; 
    text-align: left;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #fff; /* You can change the color by modifying the hex code */
    position: center;
}

th, td {
    border: 2px solid #fff; /* You can change the color by modifying the hex code */
    padding: 8px;
    text-align: center;
}

.circle-frame {
    border-radius: 50%;
    border: 8px solid #000; /* You can change the color by modifying the hex code */
    overflow: hidden;
    display: inline-block;
}

.circle-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Ensures the image covers the entire frame*/
}

table tr{
    color: #fff;
}

/* h1{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 60px;
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
}

.slider-frame{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 20px;
}

@-webkit-keyframes slide-animation{
    0% {left: 0px;}
    10% {left:0px}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    0% {left: 0px;}
    100% {left: 0px;}
}

.slide-images{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide-animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;

} */

.education-title{
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    font-family: century;
    color:#fff;
    margin-bottom: 20px;
    margin-left: 40px;
    text-decoration: underline;
}
.education-header{
    font-size: 30px;
    font-weight:  bold;
    text-align: left;
    font-family: century;
    color:#fff;
    margin-left: 40px;
    margin-bottom: 2px;
    width: 100%
}
.education-text{
    font-size: 20px;
    text-align: left;
    font-family: century;
    color:#fff;
    margin-left: 40px;
    width: 80%;
    display: block;
}
.thumbnail{
    width: 300px;
}